<div class="container">
    <ng-template #popContent >
        <div class="container-fluid container-rounded">
            <div class="row">
                <div class="col-sm-12"><br></div>
            </div>
            <div class="row">
                <div class="col-sm-2 reached-class">
                    Reached:
                </div>
                <div class="col-sm-8 progressbar-class">
                    <div class="progress">
                        <div  class="progress-bar" 
                            role="progressbar"
                            aria-valuemin="0" 
                            aria-valuemax="100">
                        </div>
                    </div>
                    <div class="animation-line">
                        <div class="arrow-up">
                            <i class="up"></i>
                            ${{currentAmount}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" >
                    <div class="square-shape">
                        Target ${{targetAmount}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center remaining-class">
                    <img src="assets\info-ico.png" alt="">You need ${{remainingAmount}} more dollars to reach your target.
                </div>
            </div>
        </div>
    </ng-template>
    <button type="button" 
        class="btn btn-info btn-outline-secondary" 
        placement="right" 
        [ngbPopover]="popContent" 
        popoverTitle="Your Progress ">
    To see your progress please click here...
    </button>
</div>