.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.animation-line
{
   height: 20px;
   display: block;
   position: relative;
   border: transparent;/* 1px solid black;*/
   margin: 20px 0;
}

.square-shape {
    text-align: center;
    background-color: gray;
    line-height: 30px;
    position: relative;
    color: #EAEAEA; 
    font-weight: bold;
}

.arrow-up
{
	display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: transparent;
  overflow-wrap: normal;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  padding-right: 16%;
}

.btn-info {
  color: black;
}

.container-rounded {
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.reached-class {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold; 
  font-size: 14px;
  color: #888888;
}

.progressbar-class {
  margin-top: 5%;
  margin-bottom: 5%;
}

.remaining-class {
  margin-bottom: 3%; 
  color: gray;
  font-weight: 
  bold;color: #888888;
}

.remaining-class img {
  padding-right: 2%;
}