/* You can add global styles to this file, and also import other style files */
.popover {
	margin-top: 2%;
	min-width:50%;
    min-height: 50%;
}

.popover.bs-popover-right {
	background-color: #EAEAEA;
}

.popover-header {
	background-color:black;
	color: white;
	padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.popover-body {
	background-color: #EAEAEA;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.progress .progress-bar {
    height: 1rem;
    color: #fff;
    background-color: green;
}